<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{%block titulo %} Inicio {%endblock%} gention de tareas</title>
       
        <!--hojas de estilo -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {# javascript #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {% block cabecera %}
                <h1>Cabecera de la plantilla</h1>
            {% endblock %}
        </div>

        <section id="content">
            {% block contenido %}
                <p>contenido por defecto</p>
            {% endblock %}
        </section>
        
        <footer id="footer">
            {% block footer %}
               <p>&copy Eduard colmenares</p>
            {% endblock %}
        </footer>
        
    </body>
</html>