{% extends 'base.html.twig' %}

{% block title %}todas las tareas{% endblock %}

{% block body %}


<div class="main">
    <h2>Crear Tarea</h2>
     {{ form_start(form) }}
     {{ form_widget(form) }}
     {{ form_end(form) }}
</div>
{% endblock %}