{% extends 'base.html.twig' %}

{% block title %}todas las tareas{% endblock %}

{% block body %}


<div class="main">
    <h2>todas las tareas</h2>
    {{ include('includes/tasks-list.html.twig')}}
</div>
{% endblock %}
