<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <!--hojas de estilo -->
        {% block stylesheets %}
            <link href= {{ asset("assets/CSS/style.css")}}  type"text/css" rel="stylesheet">
        {% endblock %}
        {# javascript #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
          
          <nav id="nav">
          <h1>Tareas Symfony</h1>
            <ul id="menu">
                <li><a href="{{ path('tasks')}}">Inicio</a></li>
                <li><a href="">Mis tareas</a></li>
                <li><a href="">Login</a></li>
                <li><a href="{{ path('register')}}">Registros</a></li>
            </ul>
          </nav> 
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
